
body {
    background: #0b0b0b;
    color: white;
    font-family: "Courier New", monospace;
    margin: 0;
    text-align: center;
}


/* contenedor */
.container {
    margin-top: 40px;
    padding: 20px 0;
    color: #ccc;
    border-top: 1px solid rgb(187, 8, 227);
    box-shadow: 0 0 10px rgb(187, 8, 227) inset;
}

/*  RETRO UI */
.header {
    margin-bottom: 20px;
}

.logo {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
}

.logo span {
    color: #7f04a4;
    margin-left: 6px;
}

/* subtítulos */
.title {
    font-size: 26px;
    margin-top: 35px;
    margin-bottom: 20px;
}

/* contenedor de tarjetas */
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

/* tarjetas */
.card {
    background: #1c1c1c;
    padding: 25px 50px;
    border-radius: 8px;
    border: 2px solid #111;
    color: white;
    font-size: 18px;
    transition: 0.25s ease;
    cursor: pointer;
}

/* HOVER VERDE COMO EN LA IMAGEN */
.card:hover {
    border-color: #630699;
    box-shadow: 0 0 12px 630699;
    color: #630699;
}

/* Barra de energía */
.energy-bar {
    width: 70%;
    height: 25px;
    background: #2b2b2b;
    margin: 0 auto 50px auto;
    border-radius: 10px;
}
/* Animacio */
@keyframes progreso {
  0%   { transform: scaleX(95%); }

  100% { transform: scaleX(100%); }
}

.energy-fill {
    height: 100%;
    width: 70%;
    background: #8504b9;
    border-radius: 10px;
    animation: progreso 2s linear 1s  infinite alternate-reverse;
}


/* Footer */
.footer {
    margin-top: 40px;
    padding: 20px 0;
    color: #ccc;
    border-top: 1px solid rgb(187, 8, 227);
    box-shadow: 0 0 10px rgb(187, 8, 227) inset;
}