* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: #d2add6;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background: white;
    padding: 40px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}


.fila-busqueda {
    display: flex;
    gap: 8px;
    align-items: center;
}


input {
    flex: 1;
    padding: 10px;
    border: 1px solid #9f909a;
    border-radius: 6px;
    font-size: 1rem;
}




#btn {
    padding: 10px 16px;
    background-color: #a4239c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

#btn:hover {
    background-color: #d2b0d3;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#spinner {
    width: 28px;
    height: 28px;
    border: 4px solid #ccc;
    border-top: 4px solid #be0add;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}


.hide {
    display: none;
}

.show {
    display: block;
}


#resultado {
    margin-top: 20px;
}

.exito {
    background-color: #c204f1;
    border: 1px solid #040701;
    border-radius: 8px;
    padding: 16px;
}

.exito p {
    margin-bottom: 6px;
}

.exito span {
    font-weight: bold;
}


.error {
    background-color: #ec01e1;
    border: 1px solid #0c0109;
    border-radius: 8px;
    padding: 14px;
    color: #000000;
    text-align: center;
}